// Fonts
@font-face {
    font-family: 'Fraunces-VariableFont_SOFT,WONK,opsz,wght';
    src: url(./starter-code/assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}
@font-face {
    font-family: 'Fraunces';
    src: url(./starter-code/assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf);
}
@font-face {
    font-family: 'Manrope-VariableFont_wght';
    src: url(./starter-code/assets/fonts/manrope/Manrope-VariableFont_wght.ttf);
}


$primary-font: 'Fraunces-VariableFont_SOFT,WONK,opsz,wght';
$secondary-font: 'Manrope-VariableFont_wght';
$primary-font-alt: 'Fraunces';
// Colors
$dark-purple: #24053E;
$gray: #584D62;
$eucalyptus: #44FFA1;
$ghost-white: #FCF8FF;
$white: #FFFFFF;
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    -webkit-font-smoothing: antialiased;
    background-color: white;

}

#bigSpringLeft, #smallSpringLeft, #springRight{
    position: absolute;
    display: none;
}

#header{
    background-color: $dark-purple;
    padding: 1rem;
    padding-top: 1.5rem;
    transition: ease-in-out 0.3ms;

    #nav{
        display: flex;
        justify-content: space-between;
        a#apply{
            font-family: $secondary-font;
            text-decoration: none;
            color: $ghost-white;
            border-bottom: solid .2rem $white;
            font-size: 16px;
            font-weight: 500;
        }
        a#apply:hover{
            border-bottom: solid .2rem $eucalyptus;
        }
    }
}
.imageContainer{
    
    img#phone{
        width: clamp(320px, 55vw, 441px);
        position: absolute;
        top: 23.5rem;
        left: 50%;
        margin-left: -9.5rem;

        transition: ease-out 0.3s;
    }
}
.heroContainer{
    overflow-x: hidden; /* Prevents horizontal scrolling */
    position: relative; /* Establishes a positioning context */
    width: 100vw; /* Ensures the container matches the viewport width */
    margin-left: calc(50% - 50vw); /* Centers the container */

}
#heroCard{
    background-color: $dark-purple;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    align-items: center;
    border-bottom-left-radius: 100% 15%;
    border-bottom-right-radius: 100% 15%;
    margin-bottom: 12rem;
    box-shadow: $ghost-white;
    width: 120vw; /* Example: making the element 20% wider than the viewport */
    position: relative; /* Allows for positioning adjustments */
    left: -10vw; /* Shifts the element to be centered visually */
    padding-bottom: 10rem;
    h2#slogan{
        text-align: center;
        font-family: $primary-font-alt;
        // font-size: 3rem;
        font-size: clamp(3rem, 8vw, 4rem);
        font-weight: 500;
        color: $white;
        width: clamp(353px, 45vw, 519px);
        margin-top: 2rem;

    }

    span#underline{
        border-bottom: solid .2rem $white;
    }
    span#underline:hover{
        border-bottom: solid .2rem $eucalyptus;
    }
    button#learnMore{
        color: $dark-purple;
        background-color: $white;
        outline: none;
        padding-inline: 2rem;
        padding-block: 1rem;
        border: none;
        margin-top: 2rem;
        // margin-bottom: 9rem;
        transition: ease-in-out 0.3s;
    }
    button#learnMore:hover{
        background-color: $eucalyptus;
    }
}
.listContent{
    // transition: ease-in 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .listContainer{
        text-align: center;
        font-family: $primary-font;
        font-weight: 500;
        // transition: ease-in 0.3s;
        #text{
            display: none;
            transition: ease-in-out 0.3s;
        }
        .num{
            // transition: ease-in 0.3s;
            margin-bottom: 2rem;
            font-size: 1.1rem;

        }
        .item{
            transition: ease-in-out 0.3s;
            font-size: 1.4rem;
            margin-bottom: 8rem;
        }
    }
}
#authorImageCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    img#authorImage{
        width: clamp(250px, 75vw, 250px);
        display: none;

    }
    img#authorImageMobile{
        width: clamp(250px, 75vw, 250px);
        margin-top: 8rem;
        z-index: -1;

    }
}

.testCard{
    display: flex;
    background-color: $dark-purple;
    color: $white;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: -3rem;
    margin-inline: 3.5vw;
    #testTitle{
        font-family: $primary-font-alt;
        font-size: 2rem;
        margin-top: 2rem;
    }
    #bio{
        font-family: $secondary-font;
        margin: 2rem;
        line-height: 1.5rem;
        font-weight: 300;
        font-size: .9rem;
    }
    button#applyBtn{
        color: $dark-purple;
        background-color: $white;
        outline: none;
        padding-inline: 2rem;
        padding-block: 1rem;
        border: none;

        margin-bottom: 2rem;
    }
    button#applyBtn:hover{
        background-color: $eucalyptus;
    }
}

footer#footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    #logo{
        margin-top: 4rem;
        margin-bottom: 8rem;
    }
    #icons{
        display: none;
    }
}


// Mobile devices
// List items are hidden
// Author image is different
// No SVG springs
// No green highlighting
@media (min-width: 375px) {


}

/* Large devices (tablets to small desktops) */
@media (min-width: 540px) {
    footer#footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        #logo{
            margin-top: 5rem;
            margin-bottom: 3rem;
        }
        #icons{
            display: block;
            .icon{
                margin-inline: .7rem;
                margin-bottom: 8rem;
            }
            .icon:hover{
                color: $dark-purple;
            }
        }
    }
    #bigSpringLeft{
        position: absolute;
        display: block;
        z-index: 200;
        left: -13.5rem;
    }
    #springRight{
        position: absolute;
        display: block;
        z-index: 200;
        top:11.5rem;
        right: -6rem;
        overflow: hidden;
    }
    #smallSpringLeft{
        position: absolute;
        display: block;
        z-index: 200;
        top: 114rem;
        right: 5%;
    }
    #header{
        padding-top: 3rem;
        padding: 2rem;

        #nav{
            
            a#apply{
                border-bottom: solid .2rem $eucalyptus;
            }
        }
    }
    .imageContainer{
        
        
        img#phone{
            top: 26.5rem;
            z-index: 10;
            margin-left: -13rem;
        }
    }
    .heroContainer{
        position: relative;
        #heroCard{
            margin-bottom: 0;
            overflow-x: visible;
            padding-bottom: 3.5rem;
            -webkit-box-shadow: 0px 14px 0px 15px rgba(252,248,255,1);
            -moz-box-shadow: 0px 14px 0px 15px rgba(252,248,255,1);
            box-shadow: 0px 14px 0px 15px rgba(252,248,255,1);
            button#learnMore{
                margin-bottom: 8rem;
                border: solid 2px $dark-purple;
            }

            span#underline{
                border-bottom: solid .2rem $eucalyptus;
            }
            button#learnMore{
                color: $dark-purple;
                background-color: $eucalyptus;
            }
        }
    }
    #list{
        overflow-x: hidden; /* Prevents horizontal scrolling */
        position: relative;
        width: 100vw; /* Ensures the container matches the viewport width */
        margin-left: calc(50% - 50vw); /* Centers the container */
        margin-bottom: 4rem;
        .listContent{
            display: flex;
            align-items: center;
            flex-direction: column;
            background-color: $ghost-white;
            width: 120vw; /* Example: making the element 20% wider than the viewport */
            position: relative; /* Allows for positioning adjustments */
            left: -10vw; /* Shifts the element to be centered visually */
            border-bottom-left-radius: 100% 15%;
            border-bottom-right-radius: 100% 15%;
            // margin-top: -2rem;
            padding-top: 8rem;
            padding-bottom: 8rem;
            .listContainer{
                padding-top: 4rem;
                text-align: center;
                font-weight: 500;
                display: flex;
                max-width: 573px;
                align-items: center;

                .num{
                    margin-top: -1.4rem;
                    font-size: 1.1rem;
                    margin-right: 2rem;
                    border: solid .1rem black;
                    border-radius: 100%;
                    padding: .5rem;
                    padding-inline: 1rem;
                }
                .listCard{
                    display: flex;
                    flex-direction: column;
                    align-content: start;
                    justify-content: start;
                    align-items: start;
                    max-width: 468px;
                    .item{
                        font-family: $primary-font-alt;
                        font-size: 1.6rem;
                        margin-bottom: 1rem;
                        text-align: left;
                    }
                    #text{
                        text-align: left !important;
                        display: block;
                        font-family: $secondary-font;
                        font-weight: 300;
                        line-height: 2rem;
                    }
        
                }
            }
    
        }
    }
    #authorImageCard{
        display: flex;
        flex-direction: column;
        align-items: center;
        img#authorImage{
            width: clamp(250px, 75vw, 250px);
            display: block;
            z-index: -1;
            margin-bottom: -4rem;
            margin-left: -18rem;
        }
        img#authorImageMobile{
            width: clamp(250px, 75vw, 250px);
            margin-top: 8rem;
            z-index: -1;
            display: none;
        }
    }
    .testCard{
        margin-left: 35%;
        max-width: 450px;
        align-items: start;
        padding: 1rem;
        #testTitle{
            font-family: $primary-font-alt;
            font-size: 2rem;
            margin-top: 2rem;
            margin-left: 2rem;
        }
        #bio{
            font-family: $secondary-font;
            margin: 2rem;
            line-height: 1.5rem;
            font-weight: 300;
            font-size: .9rem;
            text-align: left;
        }
        button#applyBtn{
            margin-left: 2rem;
            color: $dark-purple;
            background-color: $eucalyptus;
            outline: none;
            padding-inline: 2rem;
            padding-block: 1rem;
            border: none;
    
            margin-bottom: 2rem;
        }
        button#applyBtn:hover{
            background-color: $eucalyptus;
        }
    }
}

/* Extra large devices (large desktops) */
@media (min-width: 1030px) {
    #smallSpringLeft{
        position: absolute;
        display: block;
        z-index: 200;
        top: 96.5rem;
        right: 45%;
    }
    #header{
        background-color: $dark-purple;
        padding: 1rem;
        padding-top: 3rem;
        padding-inline: 12%;
        transition: ease-in-out 0.3ms;
    
        #nav{
            display: flex;
            justify-content: space-between;
            a#apply{
                font-family: $secondary-font;
                text-decoration: none;
                color: $ghost-white;
                border-bottom: solid .2rem $white;
                font-size: 16px;
                font-weight: 500;
                border-bottom: solid .2rem $eucalyptus;
            }
            a#apply:hover{
                color: $eucalyptus;
            }
        }
    }
    .heroContainer{
        position: relative;
        #heroCard{
            margin-bottom: 0;
            overflow-x: visible;
            padding-bottom: 3.5rem;
            -webkit-box-shadow: 0px 14px 0px 15px rgba(252,248,255,1);
            -moz-box-shadow: 0px 14px 0px 15px rgba(252,248,255,1);
            box-shadow: 0px 14px 0px 15px rgba(252,248,255,1);
            button#learnMore{
                margin-bottom: 8rem;
            }
            span#underline{
                border-bottom: solid .2rem $eucalyptus;
            }
            button#learnMore{
                color: $dark-purple;
                background-color: $eucalyptus;
            }
            button#learnMore:hover{
                background-color: $dark-purple;
                color: $eucalyptus;
                border: solid 2px $eucalyptus;
            }
        }
    }

    #list{
        overflow-x: hidden; /* Prevents horizontal scrolling */
        position: relative;
        width: 100vw; /* Ensures the container matches the viewport width */
        margin-left: calc(50% - 50vw); /* Centers the container */
        margin-bottom: 4rem;
        .listContent{
            display: flex;
            align-items: center;
            flex-direction: row;
            align-items: start;
            justify-content: center;
            padding-inline: 13rem;
            background-color: $ghost-white;
            width: 120vw; /* Example: making the element 20% wider than the
             viewport */
            position: relative; /* Allows for positioning adjustments */
            left: -10vw; /* Shifts the element to be centered visually */
            border-bottom-left-radius: 100% 15%;
            border-bottom-right-radius: 100% 15%;
            // margin-top: -2rem;
            padding-top: 8rem;
            padding-bottom: 8rem;
            .listContainer{
                padding-inline: 1rem;
                padding-top: 4rem;
                text-align: center;
                font-weight: 500;
                display: flex;
                flex-direction: column;
                max-width: 573px;
                justify-content: start;
                align-items: center;
                .num{
                    margin-top: -1.4rem;
                    font-size: 1.1rem;
                    margin-right: 0;
                    border: solid .1rem black;
                    border-radius: 100%;
                    padding: .5rem;
                    padding-inline: 1rem;
                }
                .listCard{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    max-width: 338px;
                    .item{
                        font-family: $primary-font-alt;
                        font-size: 1.6rem;
                        margin-bottom: 1rem;
                        text-align: left;
                    }
                    #text{
                        text-align: center !important;
                        display: block;
                        font-family: $secondary-font;
                        font-weight: 300;
                        line-height: 2rem;
                    }
        
                }
            }
    
        }
    }

    #authorImageCard{
        display: flex;
        flex-direction: column;
        align-items: center;
        img#authorImage{
            width: clamp(450px, 100vw, 250px);
            display: block;
            z-index: -1;
            margin-bottom: -14rem;
            margin-left: -28rem;
        }
        img#authorImageMobile{
            width: clamp(250px, 75vw, 250px);
            margin-top: 8rem;
            z-index: -1;
            display: none;
        }
    }
    .testCard{
        margin-left: 45%;
        max-width: 625px;
        align-items: start;
        padding: 1rem;
        padding-block: 1.5rem;
        #testTitle{
            font-family: $primary-font-alt;
            font-size: 3rem;
            margin-top: 2rem;
            margin-left: 2rem;
        }
        #bio{
            font-family: $secondary-font;
            margin: 2rem;
            margin-top: 1.75rem;
            line-height: 1.5rem;
            font-weight: 300;
            font-size: .9rem;
            text-align: left;
        }
        button#applyBtn{
            margin-left: 2rem;
            color: $dark-purple;
            background-color: $eucalyptus;
            outline: none;
            padding-inline: 2rem;
            padding-block: 1rem;
            border: 1px solid $eucalyptus;
    
            margin-bottom: 2rem;
        }
        button#applyBtn:hover{
            background-color: $dark-purple;
            color: $eucalyptus;
        }
    }
    #icons{
        display: block;
        .icon{
            margin-inline: .7rem;
            margin-bottom: 8rem;
        }
        .icon:hover{
            color: $dark-purple;
        }
    }
}