// Fonts
@font-face {
    font-family: 'Fraunces-VariableFont_SOFT,WONK,opsz,wght';
    src: url(../starter-code/assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

@font-face {
    font-family: 'Manrope-VariableFont_wght';
    src: url(../starter-code/assets/fonts/manrope/Manrope-VariableFont_wght.ttf);
}


$primary-font: 'Fraunces-VariableFont_SOFT,WONK,opsz,wght';
$secondary-font: 'Manrope-VariableFont_wght';

// Colors
$dark-purple: #24053E;
$gray: #584D62;
$eucalyptus: #44FFA1;
$ghost-white: #FCF8FF;
$white: #FFFFFF;
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    -webkit-font-smoothing: antialiased;
}

#bigSpringLeft, #smallSpringLeft, #springRight{
    position: absolute;
    display: none;
}

#header{
    background-color: $dark-purple;
    padding: 1rem;
    padding-top: 1.5rem;
    #nav{
        display: flex;
        justify-content: space-between;
        a#apply{
            font-family: $secondary-font;
            text-decoration: none;
            color: $ghost-white;
            border-bottom: solid .2rem $white;
            font-size: 16px;
        }
        a#apply:hover{
            border-bottom: solid .2rem $eucalyptus;
        }
    }
}
#heroCard{
    background-color: $dark-purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 100% 15%;
    border-bottom-right-radius: 100% 15%;
    h2#slogan{
        text-align: center;
        font-family: $primary-font;
        font-size: 3rem;
        font-weight: 500;
        // font-style: italic;
        color: $white;
        width: clamp(343px, 75vw, 344px);
        margin-top: 2rem;

    }
    img#phone{
        width: clamp(320px, 75vw, 441px);
        position: absolute;
        top: 22rem;

    }
    span#underline{
        border-bottom: solid .2rem $white;
    }
    span#underline:hover{
        border-bottom: solid .2rem $eucalyptus;
    }
    button#learnMore{
        color: $dark-purple;
        background-color: $white;
        outline: none;
        padding-inline: 2rem;
        padding-block: 1rem;
        border: none;
        margin-top: 2rem;
        margin-bottom: 9rem;
    }
    button#learnMore:hover{
        background-color: $eucalyptus;
    }
}

.listContainer{
    text-align: center;
    #text{
        display: none;
    }
}
#authorImageCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    img#authorImage{
        width: clamp(250px, 75vw, 250px);
        mix-blend-mode: multiply;
    }
}
