@font-face {
  font-family: "Fraunces-VariableFont_SOFT,WONK,opsz,wght";
  src: url(./starter-code/assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}
@font-face {
  font-family: "Fraunces";
  src: url(./starter-code/assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf);
}
@font-face {
  font-family: "Manrope-VariableFont_wght";
  src: url(./starter-code/assets/fonts/manrope/Manrope-VariableFont_wght.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
}

#bigSpringLeft, #smallSpringLeft, #springRight {
  position: absolute;
  display: none;
}

#header {
  background-color: #24053E;
  padding: 1rem;
  padding-top: 1.5rem;
  transition: ease-in-out 0.3ms;
}
#header #nav {
  display: flex;
  justify-content: space-between;
}
#header #nav a#apply {
  font-family: "Manrope-VariableFont_wght";
  text-decoration: none;
  color: #FCF8FF;
  border-bottom: solid 0.2rem #FFFFFF;
  font-size: 16px;
  font-weight: 500;
}
#header #nav a#apply:hover {
  border-bottom: solid 0.2rem #44FFA1;
}

.imageContainer img#phone {
  width: clamp(320px, 55vw, 441px);
  position: absolute;
  top: 23.5rem;
  left: 50%;
  margin-left: -9.5rem;
  transition: ease-out 0.3s;
}

.heroContainer {
  overflow-x: hidden; /* Prevents horizontal scrolling */
  position: relative; /* Establishes a positioning context */
  width: 100vw; /* Ensures the container matches the viewport width */
  margin-left: calc(50% - 50vw); /* Centers the container */
}

#heroCard {
  background-color: #24053E;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  align-items: center;
  border-bottom-left-radius: 100% 15%;
  border-bottom-right-radius: 100% 15%;
  margin-bottom: 12rem;
  box-shadow: #FCF8FF;
  width: 120vw; /* Example: making the element 20% wider than the viewport */
  position: relative; /* Allows for positioning adjustments */
  left: -10vw; /* Shifts the element to be centered visually */
  padding-bottom: 10rem;
}
#heroCard h2#slogan {
  text-align: center;
  font-family: "Fraunces";
  font-size: clamp(3rem, 8vw, 4rem);
  font-weight: 500;
  color: #FFFFFF;
  width: clamp(353px, 45vw, 519px);
  margin-top: 2rem;
}
#heroCard span#underline {
  border-bottom: solid 0.2rem #FFFFFF;
}
#heroCard span#underline:hover {
  border-bottom: solid 0.2rem #44FFA1;
}
#heroCard button#learnMore {
  color: #24053E;
  background-color: #FFFFFF;
  outline: none;
  padding-inline: 2rem;
  padding-block: 1rem;
  border: none;
  margin-top: 2rem;
  transition: ease-in-out 0.3s;
}
#heroCard button#learnMore:hover {
  background-color: #44FFA1;
}

.listContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.listContent .listContainer {
  text-align: center;
  font-family: "Fraunces-VariableFont_SOFT,WONK,opsz,wght";
  font-weight: 500;
}
.listContent .listContainer #text {
  display: none;
  transition: ease-in-out 0.3s;
}
.listContent .listContainer .num {
  margin-bottom: 2rem;
  font-size: 1.1rem;
}
.listContent .listContainer .item {
  transition: ease-in-out 0.3s;
  font-size: 1.4rem;
  margin-bottom: 8rem;
}

#authorImageCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#authorImageCard img#authorImage {
  width: clamp(250px, 75vw, 250px);
  display: none;
}
#authorImageCard img#authorImageMobile {
  width: clamp(250px, 75vw, 250px);
  margin-top: 8rem;
  z-index: -1;
}

.testCard {
  display: flex;
  background-color: #24053E;
  color: #FFFFFF;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: -3rem;
  margin-inline: 3.5vw;
}
.testCard #testTitle {
  font-family: "Fraunces";
  font-size: 2rem;
  margin-top: 2rem;
}
.testCard #bio {
  font-family: "Manrope-VariableFont_wght";
  margin: 2rem;
  line-height: 1.5rem;
  font-weight: 300;
  font-size: 0.9rem;
}
.testCard button#applyBtn {
  color: #24053E;
  background-color: #FFFFFF;
  outline: none;
  padding-inline: 2rem;
  padding-block: 1rem;
  border: none;
  margin-bottom: 2rem;
}
.testCard button#applyBtn:hover {
  background-color: #44FFA1;
}

footer#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer#footer #logo {
  margin-top: 4rem;
  margin-bottom: 8rem;
}
footer#footer #icons {
  display: none;
}

/* Large devices (tablets to small desktops) */
@media (min-width: 540px) {
  footer#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer#footer #logo {
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
  footer#footer #icons {
    display: block;
  }
  footer#footer #icons .icon {
    margin-inline: 0.7rem;
    margin-bottom: 8rem;
  }
  footer#footer #icons .icon:hover {
    color: #24053E;
  }
  #bigSpringLeft {
    position: absolute;
    display: block;
    z-index: 200;
    left: -13.5rem;
  }
  #springRight {
    position: absolute;
    display: block;
    z-index: 200;
    top: 11.5rem;
    right: -6rem;
    overflow: hidden;
  }
  #smallSpringLeft {
    position: absolute;
    display: block;
    z-index: 200;
    top: 114rem;
    right: 5%;
  }
  #header {
    padding-top: 3rem;
    padding: 2rem;
  }
  #header #nav a#apply {
    border-bottom: solid 0.2rem #44FFA1;
  }
  .imageContainer img#phone {
    top: 26.5rem;
    z-index: 10;
    margin-left: -13rem;
  }
  .heroContainer {
    position: relative;
  }
  .heroContainer #heroCard {
    margin-bottom: 0;
    overflow-x: visible;
    padding-bottom: 3.5rem;
    -webkit-box-shadow: 0px 14px 0px 15px rgb(252, 248, 255);
    -moz-box-shadow: 0px 14px 0px 15px rgb(252, 248, 255);
    box-shadow: 0px 14px 0px 15px rgb(252, 248, 255);
  }
  .heroContainer #heroCard button#learnMore {
    margin-bottom: 8rem;
    border: solid 2px #24053E;
  }
  .heroContainer #heroCard span#underline {
    border-bottom: solid 0.2rem #44FFA1;
  }
  .heroContainer #heroCard button#learnMore {
    color: #24053E;
    background-color: #44FFA1;
  }
  #list {
    overflow-x: hidden; /* Prevents horizontal scrolling */
    position: relative;
    width: 100vw; /* Ensures the container matches the viewport width */
    margin-left: calc(50% - 50vw); /* Centers the container */
    margin-bottom: 4rem;
  }
  #list .listContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FCF8FF;
    width: 120vw; /* Example: making the element 20% wider than the viewport */
    position: relative; /* Allows for positioning adjustments */
    left: -10vw; /* Shifts the element to be centered visually */
    border-bottom-left-radius: 100% 15%;
    border-bottom-right-radius: 100% 15%;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  #list .listContent .listContainer {
    padding-top: 4rem;
    text-align: center;
    font-weight: 500;
    display: flex;
    max-width: 573px;
    align-items: center;
  }
  #list .listContent .listContainer .num {
    margin-top: -1.4rem;
    font-size: 1.1rem;
    margin-right: 2rem;
    border: solid 0.1rem black;
    border-radius: 100%;
    padding: 0.5rem;
    padding-inline: 1rem;
  }
  #list .listContent .listContainer .listCard {
    display: flex;
    flex-direction: column;
    align-content: start;
    justify-content: start;
    align-items: start;
    max-width: 468px;
  }
  #list .listContent .listContainer .listCard .item {
    font-family: "Fraunces";
    font-size: 1.6rem;
    margin-bottom: 1rem;
    text-align: left;
  }
  #list .listContent .listContainer .listCard #text {
    text-align: left !important;
    display: block;
    font-family: "Manrope-VariableFont_wght";
    font-weight: 300;
    line-height: 2rem;
  }
  #authorImageCard {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #authorImageCard img#authorImage {
    width: clamp(250px, 75vw, 250px);
    display: block;
    z-index: -1;
    margin-bottom: -4rem;
    margin-left: -18rem;
  }
  #authorImageCard img#authorImageMobile {
    width: clamp(250px, 75vw, 250px);
    margin-top: 8rem;
    z-index: -1;
    display: none;
  }
  .testCard {
    margin-left: 35%;
    max-width: 450px;
    align-items: start;
    padding: 1rem;
  }
  .testCard #testTitle {
    font-family: "Fraunces";
    font-size: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
  }
  .testCard #bio {
    font-family: "Manrope-VariableFont_wght";
    margin: 2rem;
    line-height: 1.5rem;
    font-weight: 300;
    font-size: 0.9rem;
    text-align: left;
  }
  .testCard button#applyBtn {
    margin-left: 2rem;
    color: #24053E;
    background-color: #44FFA1;
    outline: none;
    padding-inline: 2rem;
    padding-block: 1rem;
    border: none;
    margin-bottom: 2rem;
  }
  .testCard button#applyBtn:hover {
    background-color: #44FFA1;
  }
}
/* Extra large devices (large desktops) */
@media (min-width: 1030px) {
  #smallSpringLeft {
    position: absolute;
    display: block;
    z-index: 200;
    top: 96.5rem;
    right: 25%;
  }
  #header {
    background-color: #24053E;
    padding: 1rem;
    padding-top: 3rem;
    padding-inline: 12%;
    transition: ease-in-out 0.3ms;
  }
  #header #nav {
    display: flex;
    justify-content: space-between;
  }
  #header #nav a#apply {
    font-family: "Manrope-VariableFont_wght";
    text-decoration: none;
    color: #FCF8FF;
    border-bottom: solid 0.2rem #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    border-bottom: solid 0.2rem #44FFA1;
  }
  #header #nav a#apply:hover {
    color: #44FFA1;
  }
  .heroContainer {
    position: relative;
  }
  .heroContainer #heroCard {
    margin-bottom: 0;
    overflow-x: visible;
    padding-bottom: 3.5rem;
    -webkit-box-shadow: 0px 14px 0px 15px rgb(252, 248, 255);
    -moz-box-shadow: 0px 14px 0px 15px rgb(252, 248, 255);
    box-shadow: 0px 14px 0px 15px rgb(252, 248, 255);
  }
  .heroContainer #heroCard button#learnMore {
    margin-bottom: 8rem;
  }
  .heroContainer #heroCard span#underline {
    border-bottom: solid 0.2rem #44FFA1;
  }
  .heroContainer #heroCard button#learnMore {
    color: #24053E;
    background-color: #44FFA1;
  }
  .heroContainer #heroCard button#learnMore:hover {
    background-color: #24053E;
    color: #44FFA1;
    border: solid 2px #44FFA1;
  }
  #list {
    overflow-x: hidden; /* Prevents horizontal scrolling */
    position: relative;
    width: 100vw; /* Ensures the container matches the viewport width */
    margin-left: calc(50% - 50vw); /* Centers the container */
    margin-bottom: 4rem;
  }
  #list .listContent {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    padding-inline: 13rem;
    background-color: #FCF8FF;
    width: 120vw; /* Example: making the element 20% wider than the
viewport */
    position: relative; /* Allows for positioning adjustments */
    left: -10vw; /* Shifts the element to be centered visually */
    border-bottom-left-radius: 100% 15%;
    border-bottom-right-radius: 100% 15%;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  #list .listContent .listContainer {
    padding-inline: 1rem;
    padding-top: 4rem;
    text-align: center;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    max-width: 573px;
    justify-content: start;
    align-items: center;
  }
  #list .listContent .listContainer .num {
    margin-top: -1.4rem;
    font-size: 1.1rem;
    margin-right: 0;
    border: solid 0.1rem black;
    border-radius: 100%;
    padding: 0.5rem;
    padding-inline: 1rem;
  }
  #list .listContent .listContainer .listCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    max-width: 338px;
  }
  #list .listContent .listContainer .listCard .item {
    font-family: "Fraunces";
    font-size: 1.6rem;
    margin-bottom: 1rem;
    text-align: left;
  }
  #list .listContent .listContainer .listCard #text {
    text-align: center !important;
    display: block;
    font-family: "Manrope-VariableFont_wght";
    font-weight: 300;
    line-height: 2rem;
  }
  #authorImageCard {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #authorImageCard img#authorImage {
    width: clamp(450px, 100vw, 250px);
    display: block;
    z-index: -1;
    margin-bottom: -14rem;
    margin-left: -28rem;
  }
  #authorImageCard img#authorImageMobile {
    width: clamp(250px, 75vw, 250px);
    margin-top: 8rem;
    z-index: -1;
    display: none;
  }
  .testCard {
    margin-left: 45%;
    max-width: 625px;
    align-items: start;
    padding: 1rem;
    padding-block: 1.5rem;
  }
  .testCard #testTitle {
    font-family: "Fraunces";
    font-size: 3rem;
    margin-top: 2rem;
    margin-left: 2rem;
  }
  .testCard #bio {
    font-family: "Manrope-VariableFont_wght";
    margin: 2rem;
    margin-top: 1.75rem;
    line-height: 1.5rem;
    font-weight: 300;
    font-size: 0.9rem;
    text-align: left;
  }
  .testCard button#applyBtn {
    margin-left: 2rem;
    color: #24053E;
    background-color: #44FFA1;
    outline: none;
    padding-inline: 2rem;
    padding-block: 1rem;
    border: 1px solid #44FFA1;
    margin-bottom: 2rem;
  }
  .testCard button#applyBtn:hover {
    background-color: #24053E;
    color: #44FFA1;
  }
  #icons {
    display: block;
  }
  #icons .icon {
    margin-inline: 0.7rem;
    margin-bottom: 8rem;
  }
  #icons .icon:hover {
    color: #24053E;
  }
}

/*# sourceMappingURL=styles.css.map */
